In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import partial

In [2]:
from bingo import *
from graph import *
from counting import *
from latex import *
from signed import *
from parallel import *

In [3]:
RUNS = 5_000_000
DECKS=[1,2,3,4,5,10,15,20,25,30,35,40]
palette = colorblind_palette(len(DECKS))

In [4]:
np.random.seed(56734)

In [5]:
%%time
results = quick_signed_runs(DECKS, RUNS)
results

CPU times: user 67.6 ms, sys: 37.5 ms, total: 105 ms
Wall time: 25min 23s

    Deck count  Success   Result     Runs  Probability
0            1  4997605  4997605  5000000     99.95210
1            2  4997674  4997674  5000000     99.95348
2            3  4997722  4997722  5000000     99.95444
3            4  4997639  4997639  5000000     99.95278
4            5  4997760  4997760  5000000     99.95520
5           10  4997661  4997661  5000000     99.95322
6           15  4997670  4997670  5000000     99.95340
7           20  4997711  4997711  5000000     99.95422
8           25  4997669  4997669  5000000     99.95338
9           30  4997719  4997719  5000000     99.95438
10          35  4997714  4997714  5000000     99.95428
11          40  4997707  4997707  5000000     99.95414

In [6]:
prop_table = print_prob_table(results)
prop_table

    Deck count  Success   Result     Runs  Probability    prob_l    prob_r
0            1  4997605  4997605  5000000     99.95210  0.999501  0.999540
1            2  4997674  4997674  5000000     99.95348  0.999516  0.999553
2            3  4997722  4997722  5000000     99.95444  0.999525  0.999563
3            4  4997639  4997639  5000000     99.95278  0.999508  0.999546
4            5  4997760  4997760  5000000     99.95520  0.999533  0.999570
5           10  4997661  4997661  5000000     99.95322  0.999513  0.999551
6           15  4997670  4997670  5000000     99.95340  0.999515  0.999553
7           20  4997711  4997711  5000000     99.95422  0.999523  0.999561
8           25  4997669  4997669  5000000     99.95338  0.999514  0.999552
9           30  4997719  4997719  5000000     99.95438  0.999525  0.999562
10          35  4997714  4997714  5000000     99.95428  0.999524  0.999561
11          40  4997707  4997707  5000000     99.95414  0.999522  0.999560

In [7]:
prob_table_to_latex(prop_table, "Prob table")

\begin{table}[tb]
\label{tbl:Prob table}
\begin{tabular}{llll}
\toprule
 & Probability & CI lower & CI upper \\
Decks &  &  &  \\
\midrule
1 & 99.952% & 99.950% & 99.954% \\
2 & 99.953% & 99.952% & 99.955% \\
3 & 99.954% & 99.953% & 99.956% \\
4 & 99.953% & 99.951% & 99.955% \\
5 & 99.955% & 99.953% & 99.957% \\
10 & 99.953% & 99.951% & 99.955% \\
15 & 99.953% & 99.951% & 99.955% \\
20 & 99.954% & 99.952% & 99.956% \\
25 & 99.953% & 99.951% & 99.955% \\
30 & 99.954% & 99.952% & 99.956% \\
35 & 99.954% & 99.952% & 99.956% \\
40 & 99.954% & 99.952% & 99.956% \\
\bottomrule
\end{tabular}
\end{table}